{% from "macros/nav.njk" import navLink %}

<header class="site-header">
  <div class="brand">
   <img src="/img/logo.png" alt="logo" class="logo">
  </div>
  <nav class="main-nav">
    {{ navLink('ico-home', 'Home', '/', 'home', page) }}
    {{ navLink('ico-activity', 'Activities', '/activities', 'activities', page) }}
    {{ navLink('ico-trophy', 'Challenges', '/challenges', 'challenges', page) }}
    {{ navLink('ico-kinds', 'Kinds', '/activitykinds', 'kinds', page) }}

    <div class="nav-cmd">
      <button id="theme-toggle-btn">
        <i data-feather="sun" class="sun-icon"></i>
        <i data-feather="moon" class="moon-icon"></i>
      </button>
    </div>
  </nav>
</header>
