{# layout.njk #}
{% from "macros/toast.njk" import showToasts %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="view-transition" content="same-origin" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icon-32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/img/icon-48x48.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/img/icon-64x64.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/img/icon-128x128.png">
  <link rel="icon" type="image/png" sizes="256x256" href="/img/icon-256x256.png">
  <title>Activus - {{title}}</title>

  <link rel="stylesheet" href="/css/_main.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/toasts.css">

  <!-- Block to include page-specific CSS -->
  {% block head %}{% endblock %}
</head>
<body>
  <!-- Block to include page-specific headers or default -->
  {% block header %}
    {% include "partials/header.njk" %}
  {% endblock %}

  <main>
  {% block main %}
    Main Content (Flexible)
  {% endblock %}
  </main>

  {% block footer %}
    <footer>Copyright LuKa, 2025</footer>
  {% endblock %}

  {# 'messages' comes from res.locals.messages via your Express middleware #}
  {# <pre>{{ messages | dump }}</pre> #}
  {{ showToasts(messages) }}

  <script src="https://unpkg.com/feather-icons"></script>
  <script>feather.replace();</script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript">
    document.querySelectorAll('.toast').forEach(toast => {
      setTimeout(() => {
        toast.style.opacity = '0';
        toast.style.transform = 'translateX(20px)';
        setTimeout(() => toast.remove(), 300);
      }, 4000); // 4 seconds
    });
  </script>

  {% block scripts %}{% endblock %}

  {# Include SVG icons #}
  {% include "partials/icons.njk" %}
</body>
</html>
