<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icon-32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/img/icon-48x48.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/img/icon-64x64.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/img/icon-128x128.png">
  <link rel="icon" type="image/png" sizes="256x256" href="/img/icon-256x256.png">
  <title>Activus - {{title}}</title>

  <link rel="stylesheet" href="/css/_main.css">

  <!-- Block to include page-specific CSS -->
  {% block head %}{% endblock %}
</head>
<body>
  <!-- Block to include page-specific headers or default -->
  {% block header %}
    {% include "partials/header.njk" %}
  {% endblock %}

  <main>
  {% block main %}
    Main Content (Flexible)
  {% endblock %}
  </main>

  {% block footer %}
    <footer>Copyright LuKa, 2025</footer>
  {% endblock %}

  <script src="https://unpkg.com/feather-icons"></script>
  <script>feather.replace();</script>
  <script type="text/javascript" src="/js/app.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
