<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicon.ico">
  <title>Activitz - {{title}}</title>

  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/containers.css">

  {% block head %}
  {% endblock %}
</head>
<body>
  {% block header %}
    <header id="header">
      <nav>
        <a href="/" class="nav-link">Home</a>
        <a href="/activities" class="nav-link">Activities</a>
        <a href="/goals" class="nav-link">Goals</a>
        <a href="/kinds" class="nav-link">Kinds</a>
        <a href="/activities/add" class="nav-link nav-cmd">Add</a>
      </nav>
    </header>
  {% endblock %}

  <main>
  {% block %}
    Main Content (Flexible)
  {% endblock %}
  </main>

  {% block footer %}
    <footer>Copyright LuKa, 2025</footer>
  {% endblock %}

  <script type="text/javascript" src="/js/app.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
