{% extends "layouts/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/error.css" />
{% endblock %}

{% block main %}
<section class="error">
  <h1>Oops!</h1>
  <h2>{{error.statusCode}} - {{error.message}}</h2>

  <div class="detail">
    {% if error.details %}
      <p>{{error.details}}</p>
    {% else %}
      <p>Sorry, no furher information was given.</p>
    {% endif %}
  </div>

  <div class="cmd">
    <i data-feather="arrow-left"></i>
    <a class="btn btn-outline" href="/">Take me back home</a>
  </div>
</section>
{% endblock %}
