{% extends "layouts/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block main %}
<div class="home">
  <h1>Welcome to Activus!</h1>
  <p>Your hub for tracking activities, challenges, and more.</p>
  <img src="/img/icon-512x512.png" alt="Logo" class="home-illustration">
</div>
{% endblock %}
