:root {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  /* Base font size = 62.5% or 10px for easy rem usage */
  font-size: 62.5%;
}
