section.error {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 2rem 4rem 4rem 4rem;
  border: 2px solid var(--color-primary);
  border-radius: 3rem;
}

h1 {
  font-size: 4rem;
  color: var(--color-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

.detail {
  font-size: 1.8rem;
  color: var(--color-text);
  margin-top: 2rem;
}

.cmd {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 4rem;
}
