@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  scroll-behavior: smooth;
  --primary-font: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-xxs: .8rem;
  --font-size-xs: 1rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;

  --color-text:	hsl(0, 0%, 26%);
  --color-bg:	#ebebeb;
  --color-accent1: violet;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  /* Base font size = 62.5% or 10px for easy rem usage */
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: var(--primary-font);
  font-size: var(--font-size-md);

  background-color: #eee;
  color: var(--color-text);
  letter-spacing: 1px;
  transition: background-color .25s, color .25s;
}

main {
  flex-grow: 1;
}

footer {
  background-color: violet;
  font-size: var(--font-size-xs);
  color: #fff;
  padding: 1rem;
}

nav {
  background-color: rgb(248, 194, 248);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.nav-cmd {
  margin-left: auto;
}

.nav-link {
  color: rgb(56, 16, 56);
  text-decoration: none;
  padding-right: 2rem;
}

.nav-link:hover {
  text-decoration: underline;
}
