{% extends "layouts/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/activitykinds.css" />
{% endblock %}

{% block main %}
<section class="page-header">
  <h2>Kinds of Activities</h2>
  <div class="commands">
    <a href="/activitykinds/new" class="button secondary">
      <i data-feather="plus-square" class="icon"></i>
      New
    </a>
  </div>
</section>

<section class="container">
  {% for kind in kinds %}
    <ul class="kinds-list">
      <li>
        <a href="/activitykinds/edit/{{ kind.id }}">
          <h3>{{ kind.name }}</h3>
          <p>{{ kind.description }}</p>
          <i data-feather="chevron-right" class="icon"></i>
        </a>
      </li>
    </ul>
  {% endfor %}
</section>
{% endblock %}
